@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  @apply relative bg-grey text-white p-0 mx-0
    bg-no-repeat bg-cover;
  font-family: SF, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url('/radial_background.png');
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  @apply box-border;
}

.container {
  @apply flex flex-col h-screen px-4;
  min-height: 100vh;
}

@screen xxl {
  .container {
    max-width: 1440px;
  }
}

header {
  @apply flex justify-between items-center flex-wrap gap-6;
}

.btn {
  @apply font-sf font-bold transition-shadow ease-out-cubic text-white inline-block py-2 px-4 rounded;
  background: radial-gradient( circle 300px at 8% 89.3%,  rgba(20,157,208,1) 0%, rgba(140,63,226,1) 90% );
  background-size: 200% 200%;
}

.btn--large {
  @apply py-4 px-8;
}

.btn:hover {
  @apply shadow-hover;
}

main {
  @apply flex flex-col py-12 px-8 bg-grey shadow-md rounded-md;
  flex: 1;
}

footer {
  @apply flex justify-center items-center gap-6
    w-full h-auto pb-8 mt-14 mb-8;
}

footer a {
  @apply flex flex-col justify-center items-center;
}

label {
  @apply block;
}

input {
  @apply text-white bg-grey-light outline-none m-0 bg-none transition-shadow focus:shadow-hover
    flex-1 p-2 w-full;
}

select {
  @apply bg-grey-light px-4 py-2;
  @apply appearance-none border-none m-0 w-auto;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.select-field {
  @apply flex items-center relative;
}

.select-field::after {
  content: url('/svg/chevron-down.svg');
  @apply h-6 w-6 absolute;
  right: 0.3rem;
}